<div class="container">
    <div class="row">
        <h1>Formulario Reactivo</h1>
      <div class="col-md-12">
        <form [formGroup]="formularioForm" (ngSubmit)="enviarDatos()">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control"  
                formControlName="nombre" id="nombre" 
                aria-describedby="nombrelHelp" 
                placeholder="Ingrese Nombre">
              <small class="form-text text-muted">Debe ingresar un nombre. No se aceptan símbolos.</small>
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" 
                formControlName="apellido" id="apellido" 
                aria-describedby="apellidoHelp" 
                placeholder="Ingrese Apellido">
              <small id="apellidoHelp" class="form-text text-muted">Debe ingresar un nombre. No se aceptan símbolos.</small>
            </div>
            <button type="submit" class="btn btn-primary" >Enviar</button>
          </form>
      </div>
    </div>
    <div class="row">
      <button (click)="activar_invocable1()"  type="submit" class="btn btn-primary" >activar invocable 1</button>
      <button (click)="activar_invocable2()"  type="submit" class="btn btn-warning" >activar invocable 2</button>
      <button (click)="activar_invocable3()"  type="submit" class="btn btn-danger" >activar invocable 3</button>
      <button (click)="invocable_sumar()"  type="submit" class="btn btn-primary" >invocable sumar</button>

    </div>
  </div>
